.gg-section-container--reasons-why {
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.gg-section-container--reasons-why .app-header {
  margin-top: 0;
  margin-bottom: 0;
}

.gg-section-container--reasons-why h4 {
  font-size: 18px;
  line-height: 1.8em;
  max-width: 532px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
}

.reasons-why-container {
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
}

.reasons-why-list {
  display: flex;
  flex: 1 1 32%;
  max-width: 32%;
  flex-direction: column;
  padding-top: 105px;
  padding-left: 150px;
}

.reasons-why-list .reasons-why-list__item {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 50px;
}

.reasons-why-list .number {
  color: var(--yellow);
  font-size: 32px;
  line-height: 30px;
  margin-right: 16px;
}

.hidden-content.hidden-content--list .reasons-why-list__item {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
}

.hidden-content.hidden-content--list .reasons-why-list__item:nth-child(1) {
  animation-delay: .25s;
}
.hidden-content.hidden-content--list .reasons-why-list__item:nth-child(2) {
  animation-delay: .50s;
}
.hidden-content.hidden-content--list .reasons-why-list__item:nth-child(3) {
  animation-delay: .75s;
}
.hidden-content.hidden-content--list .reasons-why-list__item:nth-child(4) {
  animation-delay: 1s;
}
.hidden-content.hidden-content--list .reasons-why-list__item:nth-child(5) {
  animation-delay: 1.25s;
}
.hidden-content.hidden-content--list .reasons-why-list__item:nth-child(6) {
  animation-delay: 1.75s;
}

.hidden-content.hidden-content--list.visible .reasons-why-list__item {
  animation-name: fadeInList;
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(0.5, 0.43, 0.81, 0.59);
  animation-fill-mode: forwards;
}

@media(max-width: 599px) {
  .gg-section-container--reasons-why .app-header {
    font-size: 40px;
  }

  .reasons-why-container {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: 50px;
  }

  .reasons-why-container img {
    max-width: 300px !important;
  }

  .reasons-why-list {
    padding-left: 0;
    max-width: 100%;
  }

  .reasons-why-list .reasons-why-list__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reasons-why-list__item > div:last-child {
    text-align: center;
  }

  .reasons-why-list__item .number {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
