.gg-section-container--contactus {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gg-section-container--contactus h1 {
  font-size: 66px;
  text-transform: uppercase;
  /* color: var(--yellow); */
  margin: 0 0 80px;
}

.gg-section-container--contactus button {
  background-color: var(--yellow);
  text-transform: capitalize;
  padding: 5px;
}

.contactus-form {
  width: 100%;
  max-width: 536px;
  position: relative;
  align-items: stretch;
}

.contactus-form__input,
.contactus-form__textarea {
  background-color: #812a7b;
  margin-bottom: 10px;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
  color: #F39FFF;
  font-size: 20px;
}

.contactus-form__input::placeholder,
.contactus-form__textarea::placeholder {
  color: #F39FFF;
  opacity: .8;
}

.contactus-form__textarea {
  min-height: 150px;
}

@media(max-width: 599px) {
  .gg-section-container--contactus {
    padding-bottom: 290px;
  }

  .gg-section-container--contactus h1 {
    font-size: 38px;
  }

  .contactus-form {
    padding: 0;
  }
}
