.gg-section-container--press-reports {
    max-height: 211px;
    padding: 16px 0 32px;
}

.gg-section-container--press-reports img {
    max-height: 57px;
    max-width: 136px;
    height: auto;
    width: auto;
}

.gg-section-container--press-reports .app-header {
    color: #DF9EFF;
    font-size: 28px;
}

.hidden-content ul {
    padding-left: 0;
}

.press-logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}


@media(max-width: 599px) {
  .gg-section-container--press-reports {
    max-height: none;
  }

  .press-logos {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 56px;
  }

  .press-logos li {
    margin-bottom: 56px;
  }

  .press-logos li img {
    margin: 0 auto;
  }
}
