.gg-section-container--beta {
  padding-top: 100px;
  padding-bottom: 160px;
  color: white;
}

.gg-section-container--beta .app-header {
  margin-bottom: 0px;
}

.gg-section-container--beta h3 {
  font-weight: 400;
  font-size: 23px;
  text-transform: uppercase;
}

.gg-section-container--beta button {
  width: 205px;
  height: 49px;
  font-size: 18px;
  margin: 0 auto;
}

.gg-section-container--beta button,
.gg-section-container--beta p {
  opacity: 0;
}

.gg-section-container--beta .beta-image {
  width: 100%;
  height: auto;
  max-width: 900px;
  max-height: 557px;
}

.btn-beta {
  transition: all .2s ease-in;
}

.btn-beta:hover {
  background-color: rgba(50, 65, 88, 1);
  border-color: rgba(45, 45, 45, 1) !important;
}

.hidden-content.hidden-content--flip-in-right.visible .beta-item {
  animation-name: flipInRight;
  animation-duration: 1.0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.hidden-content.hidden-content--flip-in-right.visible .beta-item {
  animation-delay: .3s;
}

@media(max-width: 599px) {
  .beta-image {
    max-width: 90%;
  }
}
