.st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #A6DFA1
}
.st2 {
  font-family: brandon_grotesquebold
}
.st3 {
  font-size: 12.1389px
}
.st4 {
  fill: #FFFFFF
}
.st5 {
  font-family: brandon_grotesque_regularRg
}
.st6 {
  font-size: 8.0926px
}
.st7 {
  fill: #E682BA
}
.st8 { 
  fill: #DE9CFC
}
.st9 {
  font-size: 9px
}
.st10 {
  font-size: 13.7522px
}
