.chart-top-st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.chart-top-st1 {
  fill: #A6DFA1
}
.chart-top-st2,
.chart-top-st2 tspan {
  font-family: brandon_grotesquebold;
}
.chart-top-st3 {
  font-size: 12.1389px
}
.chart-top-st4 {
  fill: #FFFFFF
}
.chart-top-st5,
.chart-top-st5 tspan {
  font-family: brandon_grotesque_regularRg;
}
.chart-top-st6 {
  font-size: 8.0926px
}
.chart-top-st7 {
  fill: #E682BA
}
.chart-top-st8 { 
  fill: #DE9CFC
}
.chart-top-st9 {
  font-size: 9px
}
.chart-top-st10 {
  font-size: 13.7522px
}
