.gg-section-container--roadmap {
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.gg-section-container--roadmap .app-header {
  margin-top: 0;
  margin-bottom: 0;
}

.gg-section-container--roadmap h2 {
  font-size: 24px;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: 0;
}

.gg-section-container--roadmap h4 {
  font-size: 18px;
  line-height: 1.8em;
  max-width: 360px;
  font-weight: 400;
  letter-spacing: 2px;
}


@media(max-width: 599px) {
  .gg-section-container--roadmap .app-header {
    font-size: 34px;
  }

  .roadmap-ballon-container {
    position: relative;
    left: -62px;
  }

  .roadmap-ballon-container h4 {
    margin-top: 180px;
  }

  .gg-section-container--roadmap h4 {
    width: 110%;
    position: relative;
    transform: translateX(-20px);
  }
}
