.gg-section-container--download {
  max-height: 377px;
  padding: 48px 0 32px;
}

.gg-section-container--download img {
  max-height: 75px;
  max-width: 60px;
  height: auto;
  width: auto;
}

.gg-section-container--download p {
  color: #F39FFF;
  font-size: 13px;
}

.gg-section-container--download ul {
  margin-top: 32px;
}

.gg-section-container--download .app-header.app-header--small {
  color: #DF9EFF;
  letter-spacing: 0.1em;
}

.hidden-content ul {
  padding-left: 0;
}

.download-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 10%;
  max-width: 10%;
  width: 100%;
  text-transform: uppercase;
}

.download-item img,
.download-item p {
  opacity: 0;
}

.hidden-content.hidden-content--flip-in-right.visible .download-item img,
.hidden-content.hidden-content--flip-in-right.visible .download-item p {
  animation-name: flipInRight;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.hidden-content.hidden-content--flip-in-right.visible .download-item p {
  animation-delay: .3s;
}

@media(max-width: 599px) {
  .gg-section-container--download {
    max-height: none;
  }

  .download-item {
    flex: 1 1 50%;
    max-width: 50%;
    margin-bottom: 50px;
  }
}
