.gg-section-container--feedback {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.gg-section-container--feedback .app-header {
    font-size: 66px;
    text-transform: uppercase;
    /* color: var(--yellow); */
    margin: 0;
}

.feedback-newsletter__title {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.feedback-newsletter__form {
  width: 100%;
  max-width: 500px;
  position: relative;
  align-items: stretch;
}

.gg-section-container--feedback h4 {
    font-size: 18px;
    line-height: 1.8em;
    max-width: 532px;
    font-weight: 400;
    letter-spacing: normal;
}

.gg-section-container--feedback button {
    padding: 9px 24px;
    flex: 0 0 auto;
}

.feedback-social {
    max-width: 600px;
    width: 100%;
    justify-content: center;
    margin: 80px auto 50px auto;
    flex-wrap: wrap;
    align-items: stretch;
}

.feedback-social div {
  flex: 1 1 20%;
  min-width: 20%;
  box-sizing: border-box;
  justify-content: space-between;
}

.feedback-social img {
  margin-bottom: 35px;
  position: relative;
}

.feeback-social__item img,
.feeback-social__item span {
  cursor: pointer;
}

.feeback-social__item:hover img {
  animation: bounce .3s cubic-bezier(0.5, 0.43, 0.81, 0.59);
}

@keyframes bounce {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  5% {
    transform: scale3d(1.2, .7, 1) translate3d(0, 0, 0);
  }
  10% {
    transform: scale3d(.8, 1.2, 1) translate3d(0, -10px, 0);
  }
  45% {
    transform: scale3d(1, 1, 1) translate3d(0, -40px, 0);
  }
  70% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  90% {
    transform: scale3d(1.2, .8, 1) translate3d(0, 0, 0);
  }
  95% {
    transform: scale3d(.8, 1.2, 1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

.feedback-input {
    background: rgba(150, 48, 176, 1);
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    margin-right: 12px;
}

.feedback-input::placeholder {
    color: white;
}

@media(max-width: 599px) {
  .gg-section-container--feedback .app-header {
    font-size: 48px;
  }

  .feedback-social div {
    flex: 1 1 50%;
    min-width: 50%;
    box-sizing: border-box;
  }

  .feedback-newsletter__title {
    font-size: 19px;
  }

  .feedback-newsletter__form {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .feedback-input {
    box-sizing: border-box;
    margin-bottom: 12px;
  }
}
