.gg-section-container--feedback {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

.gg-section-container--feedback h1 {
    font-size: 66px;
    text-transform: uppercase;
    /* color: var(--yellow); */
    margin: 0;
}

.feedback-newsletter__title {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
}

.feedback-newsletter__form {
  width: 100%;
  max-width: 500px;
  position: relative;
  align-items: stretch;
}

.gg-section-container--feedback h4 {
    font-size: 18px;
    line-height: 1.8em;
    max-width: 532px;
    font-weight: 400;
    letter-spacing: normal;
}

.gg-section-container--feedback button {
    padding: 9px 24px;
    flex: 0 0 auto;
}

.feedback-social {
    max-width: 532px;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.feedback-social img {
    margin-bottom: 35px;
}

.feedback-input {
    background: rgba(150, 48, 176, 1);
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    margin-right: 12px;
}

.feedback-input::placeholder {
    color: white;
}

@media(max-width: 599px) {
  .gg-section-container--feedback h1 {
    font-size: 48px;
  }

  .feedback-social div {
    flex: 1 1 50%;
    min-width: 50%;
    box-sizing: border-box;
  }

  .feedback-newsletter__title {
    font-size: 19px;
  }

  .feedback-newsletter__form {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }

  .feedback-input {
    box-sizing: border-box;
    margin-bottom: 12px;
  }
}
