.table-private-sale {
  font-size: 13px;
  border-collapse: collapse;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.table-private-sale [class^="color--"] {
  text-transform: uppercase;
  font-size: 16px;
}

.table-private-sale td {
  text-align: left;
  padding: 20px;
}

.table-private-sale td:first-child {
  padding-left: 24px;
}

.table-private-sale td:last-child {
  padding-right: 24px;
}

.table-private-sale .color--green {
  color: #4fcf40;
}

.table-private-sale .color--red {
  color: #e40080;
}

.table-private-sale .color--purple {
  color: #d935ff;
}

.table-private-sale .color--cyan {
  color: #30fffb;
}

.hidden-content.hidden-content--ico-details2 {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

.hidden-content.visible.hidden-content--ico-details2 {
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@media(max-width: 599px) {
  .gg-section-container--ico-details2 .gg-content-container {
    padding: 0;
  }

  .table-private-sale {
    font-size: 10px;
  }

  .table-private-sale td:nth-child(2) {
    display: none;
  }

  .table-private-sale td:last-child {
    width: 45px;
    padding-left: 0px;
    padding-right: 15px;
  }

  .table-private-sale td:first-child {
    font-size: 14px;
  }
}

@media(max-width: 320px) {
  .gg-section-container--ico-details2 .gg-content-container {
    overflow-x: scroll;
  }
}