.gg-section-container--team {
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
}

.gg-section-container--team .app-header {
  margin-top: 0;
  margin-bottom: 0;
}

@media(max-width: 599px) {
  .gg-section-container--team .app-header {
    font-size: 42px;
  }
}
