.gg-header {
  background-color: rgba(10, 17, 36, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  min-height: 73px;
}

.gg-header > * {
  color: white;
}

.gg-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--content-width);
  width: 100%;
}

.gg-header-container__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gg-header-container__buttons button {
  width: 113px;
  max-width: 113px;
  max-height: 28px;
}

.gg-header-container__buttons button:first-child {
  margin-right: 16px;
}

.mobile-nav-button {
  display: none;
}

.mobile-nav-button .gg-button {
  flex-direction: column;
}

.nav-icon-bar1, 
.nav-icon-bar2, 
.nav-icon-bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.gg-button--clicked .nav-icon-bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.gg-button--clicked .nav-icon-bar2 {
  opacity: 0;
}

.gg-button--clicked .nav-icon-bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

div[class^="MuiPaper-root-"],
div[direction="left"] {
  background-color: black !important;
}

@media(max-width: 599px) {
  .mobile-nav-button {
    display: flex;
    position: relative;
    z-index: 2000;
  }

  .gg-header-container {
    padding: 0 14px;
    max-width: 100vw;
    justify-content: space-between;
  }

  .gg-header-container__buttons button {
    width: auto;
    max-height: 38px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
