.gg-section {
    /*height: 100vh;*/
    width: 100%;
}

.gg-section-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;
    justify-content: center;
    flex: 1;
}

.gg-content-container {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.gg-section--top {
  min-height: calc(100vh - 73px) !important;
}


@media(max-width: 599px) {
  .gg-content-container {
    max-width: 100vw;
    padding: 0 26px;
    box-sizing: border-box;
  }

  .gg-section,
  .gg-section > div {
    min-height: 0px !important;
  }
}
