.gg-section-container--global-leader {
  padding-top: 150px;
  padding-bottom: 200px;
  color: white;
}

.gg-section-container--global-leader .app-header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 80px;
}

.gg-section-container--global-leader h4 {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
}

@media(max-width: 599px) {
  .gg-section-container--global-leader {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .gg-section-container--global-leader .app-header {
    font-size: 34px;
    line-height: 48px;
  }
}
