.chart-alt__st0{fill:#4C306A;}
.chart-alt__st1{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#C333FF;stroke-width:2;stroke-miterlimit:10;}
.chart-alt__st2{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#D3007E;stroke-width:2;stroke-miterlimit:10;}
.chart-alt__st3{fill:#FFFFFF;}
.chart-alt__st4{font-family:'BrandonGrotesque-Medium';}
.chart-alt__st5{font-size:9.4466px;}
.chart-alt__st6{font-size:8.6594px;}
.chart-alt__st7{fill:#F3D551;}
.chart-alt__st8{fill:none;stroke:#F3D551;stroke-miterlimit:10;}
.chart-alt__st9{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#F3D551;stroke-width:2;stroke-miterlimit:10;}
.chart-alt__st10{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#D3007E;stroke-miterlimit:10;}
.chart-alt__st11{font-size:10px;}
.chart-alt__st12{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#4EC441;stroke-miterlimit:10;}
.chart-alt__st13{fill-rule:evenodd;clip-rule:evenodd;fill:#4EC441;}
.chart-alt__st14{fill-rule:evenodd;clip-rule:evenodd;fill:#C333FF;}
.chart-alt__st15{fill:none;stroke:#4EC441;stroke-width:2;stroke-miterlimit:10;}
.chart-alt__st16{fill-rule:evenodd;clip-rule:evenodd;fill:#D3007E;}
