.gg-section-container--global-leader2 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -70px;
  margin-bottom: -70px;
  color: white;
}

.gg-section-container--global-leader2 h1 {
  font-size: 75px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.gg-section-container--global-leader2 h4 {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0;
}

.table-market-cap {
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
  margin: 0 auto;
}

.table-market-cap td {
  padding: 8px 16px;
}

.table-market-cap td {
  min-width: 87px;
}

.table-head td {
  text-align: center;
}

.table-market-cap .table-head td:first-child {
  background-color: #d1007d;
}

.table-market-cap .table-head td:nth-child(2) {
  background-color: #fe2eb7;
}

.table-market-cap .table-head td:nth-child(3) {
  background-color: #c137ff;
}

.table-market-cap .table-head td:nth-child(4) {
  background-color: #2ab56f;
}

.table-market-cap .table-head td:nth-child(5) {
  background-color: #7ba9cd;
}

.table-market-cap .table-head td:nth-child(6) {
  background-color: #e17ee4;
}

.table-market-cap td:first-child {
  background-color: #d1007d;
}

.table-market-cap td:nth-child(2),
.table-market-cap td:nth-child(3) {
  background-color: #fe2eb7;
}

.table-market-cap td:nth-child(4),
.table-market-cap td:nth-child(5) {
  background-color: #c137ff;
}

.table-market-cap td:nth-child(6) {
  background-color: #2ab56f;
}

.table-market-cap td:nth-child(7) {
  background-color: #7ba9cd;
}

.table-market-cap td:nth-child(8) {
  background-color: #e17ee4;
}

.table-market-cap .yellow-text {
  color: var(--yellow);
  font-size: 15px;
  font-weight: bold;
}

.table-arrow {
  display: none;
  opacity: 0;
  visibility: hidden;
  transform: scale3d(0, 1 ,1);
  transition: transform .2s ease-in 1.5s;
  position: absolute;
  top: -9px;
  z-index: 3;
}

.table-arrow svg path {
  fill: rgba(255, 255, 255, .6);
}

@media(max-width: 599px) {
  .gg-section-container--global-leader2 .gg-content-container {
    padding: 0;
    overflow-x: scroll;
  }

  .gg-section-container--global-leader2 .gg-content-container .hidden-content.visible .table-arrow {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scale3d(1, 1 ,1);
  }
}
