.login-view .login-input {
  color: white;
  width: 100%;
  max-width: 311px;
  margin-top: 3em;
}

.login-view .login-input::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

.login-view .login-input::after {
  border-bottom: 2px solid var(--yellow);
}

.login-view .login-input:hover::before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.87) !important;
}

.login-view .login-button {
  background: var(--yellow);
  color: var(--purple);
  margin-top: 2em;
  padding: 12px 44px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-view .login-button:hover {
  background: #d6b200;
}

@media(max-width: 599px) {
  .login-view {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;
  }

  .login-view .login-input {
    margin-bottom: 0;
  }

  .login-view .login-button {
    width: 100%;
    font-size: 20px;
    padding: 24px 44px;
  }
}

@media(max-width: 320px) {
  .login-view .login-input {
    margin-top: 1em;
  }
}
