.login-view .login-input {
  color: white;
  width: 100%;
  max-width: 311px;
  margin-top: 3em;
}

.login-view .login-input::before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

.login-view .login-input::after {
  border-bottom: 2px solid var(--yellow);
}

.login-view .login-input:hover::before {
  border-bottom: 2px solid rgba(255, 255, 255, 0.87) !important;
}
