.gg-section-container--reasons-to-invest .gg-content-container {
  padding-bottom: 100px;
}

.gg-section-container--reasons-to-invest .gg-head {
  text-transform: uppercase;
  color: white;
}

@media(min-width: 600px) {
  .gg-section-container--reasons-to-invest .flex-row.flex-row--align-start {
    align-items: flex-start;
  }
}

.rti-image {
  max-width: 400px;
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: contain;
}

.gg-section-container--reasons-to-invest .flex-column {
  padding: 1em;
}

.reason-list {
  color: white;
  font-size: 16px;
}

.reason-list span {
  color: #C430C4;
  font-size: 35px;
  font-weight: bold;
}


.hidden-content.hidden-content--list .reason-list {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
  min-height: 110px;
}

.hidden-content.hidden-content--list .reason-list:nth-child(1) {
  animation-delay: .25s;
}
.hidden-content.hidden-content--list .reason-list:nth-child(2) {
  animation-delay: .50s;
}
.hidden-content.hidden-content--list .reason-list:nth-child(3) {
  animation-delay: .75s;
}
.hidden-content.hidden-content--list .reason-list:nth-child(4) {
  animation-delay: 1s;
}
.hidden-content.hidden-content--list .reason-list:nth-child(5) {
  animation-delay: 1.25s;
}

.hidden-content.hidden-content--list.visible .reason-list {
  animation-name: fadeInList;
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(0.5, 0.43, 0.81, 0.59);
  animation-fill-mode: forwards;
}

@media(max-width: 599px) {
  .rti-content-container {
    order: 1
  }

  .rti-image-container {
    order: 2
  }

  .gg-section-container--reasons-to-invest .gg-content-container {
    padding: 0 26px;
  }

  .gg-section-container--reasons-to-invest .order-xs-1 {
    padding-bottom: 0;
  }

  .rti-image {
    max-width: 240px;
  }
}
