/* General */
.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 48px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scroll-in animations */
.hidden-content {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -50px, 0);
  transition: all 0.3s cubic-bezier(0.5, 0.43, 0.81, 0.59);
  width: 100%;
}

.hidden-content.hidden-content--fade-in {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.6s;
}

.hidden-content.hidden-content--from-left {
  transform: translate3d(-50px, 0, 0);
}

.hidden-content.hidden-content--list {
  opacity: 1;
  transition: none;
  transform: translate3d(0, 0, 0);
}

.hidden-content.hidden-content--flip-in-right {
  transform: translate3d(0, 0, 0);
}

.hidden-content.hidden-content--slide-in--right {
  transform: translate3d(-50px, 0, 0);
}

.hidden-content.hidden-content--slide-in--left {
  transform: translate3d(50px, 0, 0);
}

.hidden-content.hidden-content--zoom-in {
  transform: translate3d(0, 0, 0) scale(10);
}

.hidden-content.hidden-content--slide-in-up {
  transform: translate3d(0, 50px, 0);
}

.hidden-content.visible {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.hidden-content.visible.hidden-content--flip-in-right {
  animation-name: flipInRight;
}

.hidden-content.hidden-content--fade-in-rotate {
  transform: translate3d(0, 0, 0) rotateZ(0);
  transform-origin: center center;
  width: auto;
}

.hidden-content.visible.hidden-content--fade-in-rotate {
  animation-name: fadeInRotate;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

.hidden-content.visible.hidden-content--slide-in--right {
  animation-name: slideInRight;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

.hidden-content.visible.hidden-content--slide-in--left {
  animation-name: slideInLeft;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}

.hidden-content.visible.hidden-content--zoom-in {
  transform: translate3d(0, 0, 0) scale(1);
  transition-duration: .6s;
}


@keyframes fadeInList {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  60% {
    opacity: .5;
    transform: translate3d(0, -25%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flipInRight {
  0% {
    transform: translate3d(0, 0, 0) scale(.3) rotateY(-180deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(110px, 0, 0) scale(.5) rotateY(-90deg);
    opacity: .6;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRotate {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(360deg);
    opacity: 1;
  }
}

.slide-in {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.5, 0.43, 0.81, 0.59);
}

.slide-in--left {
  transform: translate3d(-50px, 0, 0);
}

.slide-in--right {
  transform: translate3d(50px, 0, 0);
}

.slide-in.visible {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.rotate-in {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s cubic-bezier(0.5, 0.43, 0.81, 0.59) .5s;
  transform: rotateZ(-360deg) scale(0);
  width: 100%;
  height: 100%;
}

.rotate-in.visible {
  opacity: 1;
  visibility: visible;
  transform: rotateZ(0deg) scale(1);
}

/* image placeholder to image transitions */
.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity 400ms ease-in;
}
.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity 400ms ease-in 600ms;
}
.fade-wait-height {
  transition: height 600ms ease-in-out;
}

/* Flex */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5em;
}

.flex-column--45 {
  flex: 1 1 45%;
}

.flex-column--25 {
  flex: 1 1 25%;
}

.flex-column--30 {
  flex: 1 1 30%;
}

.flex-column__image {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column__content {
  text-align: left;
}

/* Horizontal spacer */
.spacer {
  display: block;
  margin: 1em 0;
}

/* Paths */
.path {
  border-bottom: 8px dotted var(--yellow);
  height: 0 !important;
  min-height: 0 !important;
  width: 100%;
  position: relative;
}

/*.path--horizontal {}*/

.path--vertical {
  transform: rotate(90deg);
}

.path__arrow::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 11px 15px;
  border-color: transparent transparent transparent white;
  position: absolute;
  right: -25px;
  top: -7px;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media(max-width: 599px) {
  .App-logo,
  .App .gg-nav {
    display: none;
  }

  .hide-xs {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .show-xs {
    display: inherit;
    visibility: visible;
    opacity: 1;
  }

  .flex-column-xs {
    display: flex;
    flex-direction: column;
  }

  .order-xs-1 {
    order: 1;
  }

  .order-xs-2 {
    order: 2;
  }

  .order-xs-3 {
    order: 3;
  }
}

/* Headers */
.app-header {
  font-size: 75px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.app-header span {
  color: var(--yellow);
  font-family: inherit;
}

.app-header.app-header--small {
  font-size: 38px;
}

h1,
h3 {
  letter-spacing: 0.03em;
}

h1 {
  font-family: 'brandon_grotesquebold', sans-serif;
}

h2,
h3 {
  font-family: 'brandon_grotesque_regularRg', sans-serif;
  text-transform: uppercase;
}

@media(max-width: 599px) {
  .app-header {
    font-size: 34px;
  }

  .rc-dialog-wrap .rc-dialog {
    width: 100vw !important;
    height: 100vh;
    margin: 0;
  }

  .rc-dialog-wrap .rc-dialog .rc-dialog-content {
    border-radius: 0;
    padding-top: 2em;
  }

  .rc-dialog-wrap .rc-dialog .rc-dialog-close {
    top: 40px;
  }
  
  .rc-dialog-body {
    padding: 0 !important;
  }

  .rc-dialog-body,
  .rc-dialog-body .rc-dialog-body__content {
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
  }

  .rc-dialog-body .rc-dialog-body__content {
    flex-direction: column-reverse;
  }

  .rc-dialog-body .rc-dialog-body__text {
    padding: 35px;
  }
}
