@import url('https://fonts.googleapis.com/css?family=Asap');

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('./assets/fonts/brandon_bld-webfont.woff2') format('woff2'),
       url('./assets/fonts/brandon_bld-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url('./assets/fonts/brandon_reg-webfont.woff2') format('woff2'),
       url('./assets/fonts/brandon_reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Asap', sans-serif;
  outline: 0;
}

p,
h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  position: relative;
  background: black;
}

header {
  max-height: 73px;
}

:root {
  --color-green: #00D646;
  --yellow: #ffd400;
  --pink: rgb(243, 159, 255);
  --purple: rgba(150, 48, 176, 1);
  --purple-dark: #78006f;
  --green: rgba(32, 206, 136, 1);
  --flag-d: 28px;
  --content-width: 980px;
}

.color-green {
  color: var(--color-green);
}

#root {
  overflow-x: hidden;
  margin-bottom: -21px;
  /*min-height: 100%;
  height: 100%;
  z-index: 10;
  position: relative;*/
}
/*
#root > div,
#root > div > span {
  min-height: 100%;
  height: 100%;
}
*/

/****** React loads index.css before any other CSS ******/
/* Avoid elements redering badly by adding styles here  */
.gg-header {
  background-color: rgba(10, 17, 36, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  min-height: 73px;
  max-height: 73px;
}

.select-search-box {
  width: var(--flag-d);
  height: var(--flag-d);
  position: relative;
  border-radius: 50%;
  margin-left: 16px;
  /* background-image: url(static/media/gb.044f7b44.svg); */
  background: #fff;
  background-position: center;
  background-size: contain;
}

.select-search-box__select {
  display: none;
  position: absolute;
  top: 60px;
  left: -92px;
  right: 0;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  z-index: 100;
  min-height: 49px;
  min-width: 185px;
}

.gg-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: var(--content-width);
  width: 100%;
}

.App-logo {
  height: 48px;
  width: 123px;
}

.gg-nav {
  min-height: 73px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.gg-nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.gg-nav ul li {
  text-transform: uppercase;
  font-size: 11px;
}

.gg-nav a {
  color: white;
  text-decoration: none;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}


/* Flex */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2.5em;
}

.flex-column--45 {
  flex: 1 1 45%;
}

.flex-column--25 {
  flex: 1 1 25%;
}

.flex-column--30 {
  flex: 1 1 30%;
}

.flex-column__image {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column__content {
  text-align: left;
}

/* Horizontal spacer */
.spacer {
  display: block;
  margin: 1em 0;
}
