@import url('https://fonts.googleapis.com/css?family=Asap');

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url('./assets/fonts/brandon_bld-webfont.woff2') format('woff2'),
       url('./assets/fonts/brandon_bld-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url('./assets/fonts/brandon_reg-webfont.woff2') format('woff2'),
       url('./assets/fonts/brandon_reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Asap', sans-serif;
  outline: 0;
}

p,
h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  position: relative;
  background: black;
}

header {
  max-height: 73px;
}

:root {
  --color-green: #00D646;
  --yellow: #ffd400;
  --pink: rgb(243, 159, 255);
  --purple: rgba(150, 48, 176, 1);
  --purple-dark: #78006f;
  --green: rgba(32, 206, 136, 1);
  --flag-d: 28px;
  --content-width: 980px;
}

.color-green {
  color: var(--color-green);
}

#root {
  overflow-x: hidden;
  margin-bottom: -17px;
}

.gg-header {
  background-color: rgba(10, 17, 36, 1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  min-height: 73px;
  max-height: 73px;
}
