.gg-section-container--ico-details3 {
  padding: 100px 0;
}

.gg-section-container--ico-details3 .title {
  color: #F39FFF;
  text-transform: uppercase;
  font-weight: bold;
}

.gg-section-container--ico-details3 .title:not(:first-child) {
  margin-top: 16px;
}

.gg-section-container--ico-details3 .title {
  margin-bottom: 6px;
}

.gg-section-container--ico-details3 .coin-supply-values {
  align-items: flex-start;
}

.gg-section-container--ico-details3 .ggc-card {
  max-width: 257px;
  min-width: 257px;
}

@media(max-width: 599px) {

  .pie-chart-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .pie-chart-container img,
  .coin-supply-values {
    padding-left: 2.5em;
  }
  
  .ico-details-items-container {
    flex-direction: column;
  }
}
