.gg-section-container--ico-details3 {
  padding: 100px 0;
}

.gg-section-container--ico-details3 .title {
  color: #F39FFF;
  text-transform: uppercase;
  font-weight: bold;
}

.gg-section-container--ico-details3 .title:not(:first-child) {
  margin-top: 16px;
}

.gg-section-container--ico-details3 .title {
  margin-bottom: 6px;
}

.gg-section-container--ico-details3 .coin-supply-values {
  align-items: flex-start;
}

.ggc-card {
  text-align: left;
  line-height: 22px;
  font-size: 15px;
  justify-content: flex-start;
  margin-top: 1em;
  flex: 1;
  max-width: 200px;
}

.ggc-card img {
  max-width: 80px;
  max-height: 80px;
}

.ggc-card .title {
  font-size: 20px;
  margin-bottom: 18px;
}
