.gg-section-container--footer {
  padding-bottom: 100px;
}

.locations-item {
  justify-content: flex-start;
  font-size:14px;
  line-height:1.7em;
}

.locations-item :first-child {
  color: var(--pink);
  display: flex;
  flex: 0 0 45%;
}

.gg-section-container--footer p,
.locations-item div {
  text-align: left;
}

.footer-image {
  margin-top: -439px;
}

.footer-content {
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-address p {
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.4em;
}

.footer-address a {
  color: var(--pink);
  text-decoration: none;
}

.footer-title {
  color: var(--yellow);
  font-size: 24px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.footer-locations {
  align-items: flex-start;
}

.locations-list {
  padding: 0px;
  justify-content: flex-start;
  flex: 1 1 50%;
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}


@media(max-width: 599px) {
  .footer-image {
    margin-top: -250px;
    max-width: 100vw;
    position: relative;
    left: -8%;
  }

  .footer-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-locations {
    flex-direction: column;
  }

  .locations-list {
    flex: 1 1 100%;
    min-width: 100%;
  }
}
