.gg-section-container--teamCEO {
  margin-top: -40px;
  margin-bottom: -40px;
}

.ceo-details {
  position: relative;
  z-index: 8;
}

.ceo-details a {
  color: rgb(243, 159, 255);
}

.ceo-details__image {
  position: relative;
  cursor: pointer;
}

.ceo-details__image::after {
  position: absolute;
  width: 95%;
  height: 95%;
  content: attr(data-about);
  background: var(--pink);
  color: white;
  top: 2%;
  left: 2.5%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bolder;
  transform: scale3d(0, 0, 0);
  transition: transform .2s ease-in .2s, opacity .2s ease-in .2s;
  pointer-events: none;
}

.ceo-details__image:hover::after {
  opacity: .7;
  transform: scale3d(1, 1, 1);
  transition: transform .2s ease-in, opacity .2s ease-in;
}
