.gg-nav {
    min-height: 73px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gg-nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gg-nav ul li {
    text-transform: uppercase;
    font-size: 11px;
}

.gg-nav a {
    color: white;
    text-decoration: none;
}
