.gg-nav {
  min-height: 73px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.gg-nav ul {
  list-style: none;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.gg-nav ul li {
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 11px;
}

.gg-nav a {
  color: white;
  text-decoration: none;
}

.gg-nav--side {
  padding: 50px 24px 24px;
  min-width: 250px;
  box-sizing: border-box;
}

.gg-nav--side ul {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}

.gg-nav--side ul li {
  font-size: 20px;
  line-height: 50px;
}

.gg-nav--side ul li a {
  color: white;
}

@media(max-width: 967px) {
  .gg-header-container > .gg-nav {
    display: none;
  }
}
