.btt-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  border-radius: 50%;
  background: transparent;
  z-index: 9;
  /*
  border: 2px solid white;
  padding: 3px;
  */
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all .2s ease-in;
}

.btt-btn.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
