.App > :nth-child(3) {
  /* height: calc(100% - 73px) !important; */
  min-height: calc(100vh - 73px) !important;
}

.gg-top-left {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  position: relative;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  /*background-color: rgb(140, 114, 242);*/
  color: white;
  transform: translateX(0);
  transition: transform .2s ease-out;
}

.gg-top-left button {
  padding: 16px;
}

.gg-frame-open {
  transform: translateX(-1920px);
}

.gg-top-left__container {
  width: 100%;
  /*max-width: 440px;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 0px;
  padding-top: 50px;
  max-width: 980px;
  position: relative;
}

.gg-top-left__container button {
  max-width: 160px;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  color: var(--pink);
  font-size: 20px;
  transition: .2s ease;
}

.gg-top-left__container button:hover {
  color: white;
  background: var(--pink);
  border-color: var(--green) !important;
}

.play-button {
  position: relative;
  z-index: 1;
  width: 160px;
  height: 74px;
  margin-bottom: 70px;
}

.gg-h1 {
  font-size: 43px;
  line-height: 75px;
  letter-spacing: .2em;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 630px;
  width: 100%;
}

.gg-head {
  font-size: 70px;
}

.btn-buy-coins {
  transition: .2s ease-in-out;
}

.btn-buy-coins:hover {
  background-color: var(--purple);
  border-color: var(--yellow) !important;
}

.gg-section-container--top video {
  object-fit: cover;
}

.close-button__image {
  width: 40px;
  height: 40px;
  z-index: 19;
  fill: white;
  opacity: 0;
  visibility: hidden;
  transform: rotateZ(-360deg) scale(0);
  transition: transform .2s ease-in-out;
  cursor: pointer;
}

.close-button__image.close-button__image--show {
  opacity: .7;
  transform: rotateZ(-360deg) scale(1);
  visibility: visible;
}

.close-button__image:hover {
  opacity: 1;
  transform: rotateZ(0deg) scale(1);
}

.stamps-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  right: 0%;
}

.stamps-container svg {
  cursor: pointer;
}

.stamps-container svg:hover .stamp-hover-stroke {
  stroke: var(--pink) !important;
}

.stamps-container svg:hover .stamp-hover {
  fill: var(--pink) !important;
}

.stamps-container .stamp-hover-stroke,
.stamps-container .stamp-hover {
  transition: all .2s;
}

.btn-close-video {
  top: 1em;
  position: absolute;
  right: 1em;
}

@media(max-width: 599px) {
  .gg-section-container--top {
    min-height: calc(100vh - 73px) !important;
  }

  img[alt="Chart"] {
    display: none;
  }

  .gg-top-left {
    flex: 1 1 100%;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .play-button {
    position: relative;
    top: auto;
    right: auto;
    margin: 2em auto 0;
    order: 4;
  }

  .play-button button {
    font-weight: bolder;
  }

  .gg-top-left__container {
    margin-right: 0;
    padding-top: 0;
  }

  .gg-h1 {
    font-size: 28px;
    font-family: 'brandon_grotesque_regularRg', sans-serif;
    letter-spacing: .07em;
    line-height: 39px;
  }

  .gg-head--xs {
    font-size: 34px;
  }

  .stamps-container {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 0em;
    justify-content: space-around;
    order: 1;
    min-height: 150px;
  }

  .stamps-container :first-child,
  .stamps-container :nth-child(2) {
    display: flex;
    flex: 1 1 39%;
    width: 100%;
    max-width: 39%;
  }

  .stamps-container :last-child {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1em;
  }

  .stamps-container a {
    display: none !important;
  }

  .gg-top-content {
    order: 3;
  }

  .suisse-ico-logo {
    order: 5;
    max-height: 50px;
    margin-top: 1em !important;
  }

  .close-button__image {
    top: 25px;
  }
}
